[Desktop Entry]
Version=2.5
Name=MassCalibration
Comment=Program used to calibrate mass spectra
Exec=/usr/lib/masscalibration/mc.py
Icon=/usr/lib/masscalibration/designs/icon.png
Path=/usr/lib/masscalibration
Terminal=false
Type=Application
Categories=Utility;Application;
StartupNotify=true
